
<%= form_for(@contratante) do |f| %>
  <% if @contratante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contratante.errors.count, "error") %> prohibited this contratante from being saved:</h2>

      <ul>
      <% @contratante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contato %><br>
    <%= f.text_field :contato %>
  </div>
  <div class="field">
    <%= user_id = current_user%>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
