<h1>Listing contratantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Email</th>
      <th>Contato</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratantes.each do |contratante| %>
      <tr>
        <td><%= contratante.nome %></td>
        <td><%= contratante.endereco %></td>
        <td><%= contratante.email %></td>
        <td><%= contratante.contato %></td>
        <td><%= contratante.user.email %></td>
        <td><%= link_to 'Show', contratante %></td>
        <td><%= link_to 'Edit', edit_contratante_path(contratante) %></td>
        <td><%= link_to 'Destroy', contratante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contratante', new_contratante_path %>
